body{
    font-family: monospace;
    font-size: 0.8em;
    margin: 0px;
    padding: 0px;
}

.time, .grey{
    opacity: 0.2;
}

.date{
    background-color: black;
    color: white;
    opacity: 0.2;
}

.settings{
    background-color: rgba(255, 215, 0, 0.3);
    
}

ul{
    margin: 0 16px;
    padding: 0px;
}

#dotless{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.data{
    margin: 15px 40px 50px 20px;
    padding: 0px;
    border-spacing: 0px;
}

.data td{
    padding: 0px;
}

#inputConnection{
    width: 200px;
}

#container{
    width: 100px;
    height: 100px;
}

.hide{
    display: none;
}

.filter{
    display: none;
}

#controlPanel{
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    padding: 10px;
}

#controlPanel td{
    padding: 10px;
}

#content{
    width: 100%;
    display: flex;
}

.connection{
    color: blue;
}

input[type="text"] {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.05);
    padding: 3px;
}

input[type="text"]:focus{
    outline: none;
    border:1px solid black;
}